[default]

scanMode=1
#1 1D line mode
#2 2D normal mode

mode=1
#0 mode dynamic
#1 mode stic
#2 mode coaxial scan

three_D_display=1
G_begin_ns=4800
G_end_ns=4830
factor=1
#div factor, Accelerated processing

scanstep=20
linePixels=160
pixeltime_ms=150
pixel_waittime_ms=0
oringnalS='None'

xSubPic=5
ySubPic=1
step_old=700,775
step=750


powerid=''
V=[0,0,0]
OutChennel=[0,0,0]

telescopeCOM='COM3'
PiCOM='COM5'
Det='COM6'
stage='COM2'


SPI_ID= 'USB::0x0699::0x034A::C010293::INSTR'
IsOld=1
PI_long_mode=3
PI_short_mode=4
SPI_CH1_High=5
SPI_CH1_Low=0
SPI_CH1_Frequency=1
SPI_CH2_High=5
SPI_CH2_Low=0
SPI_CH2_Frequency=1

SL_ID='USB0::0xFFFF::0x6300::602071010707420029::INSTR'
SL_CH1_High=1
SL_CH1_Low=0
SL_CH1_Frequency=1
SL_CH2_High=1
SL_CH2_Low=0
SL_CH2_Frequency=1

[section2]
ip = 192.168.1.1
port = 8080

